@tailwind base;
@tailwind components;
@tailwind utilities;

.my-sidebar{

    position: sticky;
    height: 90vh;
}
.tab-container {
  display: flex;
  flex-wrap: wrap;
}

.tab-item {
  flex: 1 1 auto;
  max-width: 0; /* Allows the tab item to shrink */
  overflow-wrap: break-word;
}
.my-width{
display: inline-flex;
border: 2px solid black;
overflow: scroll;


}
.my-main{
    width: 100%;
    padding: 2px;
}

.my-categorytab{
    max-width: 1000px;
}

@media (max-width: 1400px) {
    .my-categorytab {
        max-width: 970px;
    }
}

@media (max-width: 1200px) {
    .my-categorytab {
        max-width: 950px;
    }
}

@media (max-width: 1024px) {
    .my-categorytab {
        max-width: 900px;
    }
}

@media (max-width: 900px) {
    .my-categorytab {
        max-width: 750px;
    }
}

@media (max-width: 800px) {
    .my-categorytab {
        max-width: 680px;
    }
}


@media (max-width: 700px) {
    .my-categorytab {
        max-width: 550px;
    }
}

@media (max-width: 600px) {
    .my-categorytab {
        max-width: 450px;
    }
}

@media (max-width: 500px) {
    .my-categorytab {
        max-width: 380px;
    }
}

@media (max-width: 400px) {
    .my-categorytab {
        max-width: 340px;
    }
}


/* styles.css */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
